<div class="version">

	<h3>Version 21.1.8</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Lightbox - YouTube nocookie<br />
  			[ link format: https://www.youtube-nocookie.com/embed/VIDEO_ID ]
			</li>
			<li>
				Lightbox - YouTube - Short link<br />
  			[ link format: https://youtu.be/VIDEO_ID ]
			</li>
			<li>Pre-built website: Transport 2, IT Service 2</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 21.1.7</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Yacht, Mechanic 4</li>
		</ul>
	</div>

	<div class="improve">
		<span class="dashicons dashicons-admin-tools"></span>
		<strong>Improvements</strong>
		<ul>
			<li>JavaScript - Some inline scripts removed</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>WPML Plugin - Config file - Official version provided by WPML Team</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 21.1.6</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Social Icons - Custom Social Icon - Title attribute<br />
  			[ Theme Options > Social > General > Custom | title ]
			</li>
			<li>Pre-built website: Baker 2, Safari 2 </li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Custom Post type related item - Category select</li>
			<li>Blog Slider item - Style: Flat - Undesirable small arrow</li>
			<li>Muffin Builder - Templates - Image Gallery item - Editing after import</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 21.1.5</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Mountain Guide, Hairdresser 2</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Yoast SEO plugin - Title Separator: "|" - Share Box</li>
		</ul>
	</div>

	<div class="improve">
		<span class="dashicons dashicons-admin-tools"></span>
		<strong>Improvements</strong>
		<ul>
			<li>Muffin Builder - Reduced number of database queries</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>WooCommerce 3.6 [RC1] - Outdated copies of some WooCommerce template files</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 21.1.4</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Event 3, Extreme 2</li>
		</ul>
	</div>

	<div class="improve">
		<span class="dashicons dashicons-admin-tools"></span>
		<strong>Improvements</strong>
		<ul>
			<li>Muffin Builder - Code improvement and class/file names adjustment</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 21.1.3</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Resort 2, Product 4 </li>
		</ul>
	</div>

	<div class="improve">
		<span class="dashicons dashicons-admin-tools"></span>
		<strong>Improvements</strong>
		<ul>
			<li>Muffin Builder - Code improvement and class/file names adjustment</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Equal Height of Items in wrap - Hover Color item - Box size</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 21.1.2</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Search results page - Sidebar position<br />
				[ Theme Options > Sidebars > Search Page > Layout ]
			</li>
			<li>Pre-built website: Dance School, Bistro 3</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Style Simple + Dark - Chart item - Label & Icon color</li>
			<li>Safari - Footer style: Sliding + Remove shadows - Footer visibility</li>
		</ul>
	</div>

	<div class="improve">
		<span class="dashicons dashicons-admin-tools"></span>
		<strong>Improvements</strong>
		<ul>
			<li>Dynamic theme styles added via wp_add_inline_style() according to new requirements</li>
		</ul>
	</div>

	<div class="deprecated">
		<span class="dashicons dashicons-flag"></span>
		<strong>Removed</strong>
		<ul>
			<li>Retina.js addon - Incompatible with recent WP version, please use plugin instead</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 21.1.1.1</h3>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Portfolio - Single - Muffin Builder disappeared after last update</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 21.1.1</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Polyglot, Science Centre</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Retina.js</li>
		</ul>
	</div>

	<div class="improve">
		<span class="dashicons dashicons-admin-tools"></span>
		<strong>Improvements</strong>
		<ul>
			<li>Post Types - Offer, Portfolio, Slide, Testimonial - Code improvement and class/file names adjustment</li>
			<li>Layouts & Templates - Code improvement and class/file names adjustment</li>
		</ul>
	</div>

	<div class="deprecated">
		<span class="dashicons dashicons-flag"></span>
		<strong>Deprecated</strong>
		<ul>
			<li>Function mfn_opts_show(), please use echo mfn_opts_get() with escaping</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 21.1</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Carpenter 4, Interior 5</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Shop page - Sidebar position when no layout selected on Shop page</li>
			<li>Muffin Builder - Edit Popup - Builder position</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 21.0.9</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Club 2, Company 4</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Muffin Builder - Edit Popup - Unwanted parent scrollbar</li>
			<li>Google Fonts - Multiple fonts with subset</li>
		</ul>
	</div>

	<div class="improve">
		<span class="dashicons dashicons-admin-tools"></span>
		<strong>Improvements</strong>
		<ul>
			<li>Post Type - Clients - Code improvement and class/file names adjustment</li>
			<li>Widgets - Code improvement and class/file names adjustment</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 21.0.8</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Theme support for WordPress core features - Logo, Site icon<br />
				Above features are used only if corresponding Theme Options fields are left blank
			</li>
			<li>Pre-built website: Whiskey, Adventure 2</li>
		</ul>
	</div>

	<div class="improve">
		<span class="dashicons dashicons-admin-tools"></span>
		<strong>Improvements</strong>
		<ul>
			<li>Sidebar - Show sidebar area only if there are any widgets inside</li>
			<li>Google Fonts - Load all selected fonts via single HTTP request</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>Translation Files - New translation strings</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 21.0.7</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Organic, Product 3</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>
				Mobile Header Minimal: Menu Left + Side Slide Menu - Width different than default<br />
				[ Theme Options > Responsive > Header ]
			</li>
			<li>Our Team & Our Team List items - Some basic HTML tags allowed</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 21.0.6</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Image Item - Option to disable all hover effects<br />
  			[ Theme Options > Global > Advanced > Hover Effects ]
			</li>
			<li>Pre-built website: Architect 4, Moving 3</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Admin panel - Main menu - Submenu visibility</li>
			<li>Theme Options - First tab opened on fresh theme installation</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 21.0.5</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>WordPress 5.1 Compatibility - Tested with the Beta 2 version</li>
			<li>New Google Fonts - 915 fonts available</li>
			<li>Button item & shortcode - Some basic HTML tags allowed</li>
			<li>Pre-built website: Tea 3, Electronics</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Action Bar - Slogan - Links allowed</li>
			<li>Blog - Filters: Tags - jQuery filtering</li>
			<li>Sticky Header - Style: White</li>
		</ul>
	</div>

	<div class="deprecated">
		<span class="dashicons dashicons-flag"></span>
		<strong>Deprecated</strong>
		<ul>
			<li>
				Some theme PHP constants are deprecated and will be removed soon (THEME_DIR, THEME_URI, THEME_NAME, THEME_VERSION, LIBS_DIR, LIBS_URI)<br />
  			Please check if you use these constants in your Child Theme
			</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 21.0.4</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Coaching 2, Hosting 2</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Action Bar - Slogan - Some basic HTML tags allowed</li>
			<li>Header - Action Button - Some basic HTML tags allowed</li>
			<li>Muffin Builder: Builder to SEO - Do not strip some tags (a, H1-H6, img)</li>
		</ul>
	</div>

	<div class="improve">
		<span class="dashicons dashicons-admin-tools"></span>
		<strong>Improvements</strong>
		<ul>
			<li>Minor code cleanup according to new Themeforest Requirements</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 21.0.3</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Healthy, Product 2</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Minor code cleanup in many theme files</li>
		</ul>
	</div>

	<div class="improve">
		<span class="dashicons dashicons-admin-tools"></span>
		<strong>Improvements</strong>
		<ul>
			<li>Dynamic CSS Styles - Escaping Output to prevent unwanted results</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 21.0.2</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Biker 2, Diet 2</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Posts & Portfolio - Muffin Builder: Builder to SEO, Import/Export, Templates</li>
			<li>Blog - Single Post - Comments - Reply: Cancel reply - Font size</li>
			<li>Theme Options - Blog, Portfolio & Shop - Featured Image - Typo</li>
			<li>JS scripts - Custom variables are passed using wp_localize_script()</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 21.0.1</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Carpenter 3, App 4</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>WordPress 5.0 - Custom Font uploader</li>
			<li>Minor code cleanup</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 21.0</h3>

	<div class="improve">
		<span class="dashicons dashicons-admin-tools"></span>
		<strong>Improvements</strong>
		<ul>
			<li>
				Muffin Builder: Builder to SEO, Import/Export, Templates<br />
				Tools now work with Wordpress 5.0 without reloading the page
			</li>
		</ul>
	</div>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Manicure 2, Video 2</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Muffin Builder - Unique ID - openssl_random_pseudo_bytes fallback</li>
			<li>Firefox - Overlay Menu - Browser back button - Menu visibility</li>
			<li>WooCommerce - Widget: Cart - View Cart button - Translation</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.9.9</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Muffin Builder - Unique ID class for each section, wrap and item<br />
  			(currenty available for newly created or updated pages)
			</li>
			<li>Pre-built website: Print 2, AdAgency 2</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>WP Block Editor + Muffin Builder - Back to top button</li>
			<li>Quick Fact item - Number - Fractions</li>
			<li>Blog - Comments - Edit comment link - Moved to default position</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.9.8.3</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Wedding Photos, Pet</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Muffin Builder - Minor code cleanup</li>
		</ul>
	</div>

	<div class="improve">
		<span class="dashicons dashicons-admin-tools"></span>
		<strong>Improvements</strong>
		<ul>
			<li>Muffin Builder - Reduced amount of data on save</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.9.8.2</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>WordPress 5.0 - Gallery block - Lightbox</li>
			<li>Pre-built website: Catering, Restaurant 4</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Tabs shortcode - Other shortcodes in tab content</li>
			<li>Hreflang Tag in Header - Link to page</li>
		</ul>
	</div>

	<div class="improve">
		<span class="dashicons dashicons-admin-tools"></span>
		<strong>Improvements</strong>
		<ul>
			<li>Muffin Builder items & shortcodes - Escaping Output</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.9.8.1.1</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Logistics 2, Aeroclub</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>WordPress 5.0 Compatibility - Muffin Builder - Import & Templates</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.9.8.1</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Kids, Cosmetics 2</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Default button - Light icon color for dark button background</li>
			<li>Shop Slider item - Title area height</li>
			<li>Retina.js - Retina logo field enabled even if Retina.js enabled</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.9.8.0.1</h3>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Muffin Builder - Broken layout after item edit</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.9.8</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>WordPress 5.0 Compatibility - Tested with the Beta 3 version</li>
			<li>Pre-built website: Beauty 4, ASG 2</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>HTML tags - Big, small - Font size</li>
			<li>Transparent Top Bar with menu - Top bar right - Box shadow</li>
			<li>Theme Options - Translate - Blog & Portfolio - Typo</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.9.7.6</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Layouts - Sticky Header style - The same as Top Bar Left background</li>
			<li>Pre-built website: Wedding Dresses, Model 2</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Call to action item - Icon alignment</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>WooCommerce 3.5.1 - Outdated copies of some WooCommerce template files</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.9.7.5</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Band 3, Spa 3</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Hreflang Tag in Header - Uppercase country code</li>
			<li>Image Frame - Style: Overlay - Image cut at the bottom</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.9.7.4</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Renovate 3, Gun Range</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Visual Composer - Frontend Editor - Tabs shortcode</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>Russian & Ukrainian Translation</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.9.7.3</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Responsive - Decrease Fonts - Affects letter spacing<br />
  			[ Theme Options > Responsive > General > Decrease Fonts ]
			</li>
			<li>Pre-built website: Cakes, Tailor 2</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>CSS - Most of images replaced with CSS</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.9.7.2</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>WooCommerce 3.5 compatibility - Tested with the RC1 version</li>
			<li>Pre-built website: Agency 3, Car 2</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Header Plain & Transparent: Top Bar - Background image</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>Header Transparent - Menu: Style - Compatibility fix</li>
			<li>
				Removed: Nice Scroll & Smooth Scroll - Obsolete scroll plugins<br />
			  Default scroll offers the best scroll experience in modern browsers
			</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.9.7.1</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: School 2, Coffee 3</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Map Basic - Iframe - Map centered in the column</li>
			<li>iOS - Muffin Builder - Tabs item - Edit</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.9.7</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>WooCommerce 3.5 Compatibility - Tested with the Beta 1 version</li>
			<li>Muffin Header Builder compatibility (beta version is coming soon)</li>
			<li>Pre-built website: Internet 2, Burger 2</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Theme Options - Typos</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.9.6.2.1</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Clinic 3, Restaurant 3</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.9.6.2</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Widget: Muffin Recent Comments - Missing translation tag<br />
  			[ Translate > Blog & Portfolio > Commented on ]
			</li>
			<li>Muffin Icons - Houzz</li>
			<li>Pre-built website: Estate 2, Drone</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.9.6.1</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Football, Builder 2</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Layout: Full width - Wrapper - box-shadow removed</li>
			<li>Pre-built websites - Default website - Image URL</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.9.6</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Beauty 3, Insurance 2</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>WooCommerce 3.4 - Single Product - Gallery Thumbnails</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>Pre-built websites - SSL support</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.9.5.9</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Recipes 2, Interior 4</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>WPML - Language name added as a parameter + Search form </li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.9.5.8</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Lawyer 4, ERP</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Muffin Menu widget - Submenus: Show on hover, always show active</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.9.5.7</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Interior 3, Movie 2</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Dark - Call to action - Title color</li>
			<li>WPBakery Page Builder - Activation Notice - Disable if used as a bundled plugin</li>
			<li>Plugin: Slider Pro - Image size</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>
				Deprecated: Nice Scroll & Smooth Scroll - Obsolete scroll plugins<br />
			  Default scroll offers the best scroll experience in modern browsers<br />
			  [ Theme Options > Addons & Plugins > Addons > Scroll ]
			</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.9.5.6.1</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Vet 2, Navigation</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.9.5.6</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Creative 3, Minimal 2</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>WPBakery Page Builder - Counter item - Style: Horizontal</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.9.5.5</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Company 3, County</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Mobile - Header Split + Mobile Header Minimal - Logo align</li>
			<li>Shop - Widget: Product Search - Form width</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.9.5.4</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Product, Band 2</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Muffin Builder & Events Calendar Pro - Minor JS error</li>
			<li>Before After item - Width on ultrawide screens</li>
			<li>Button style: Stroke - Back to top button - Border color</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.9.5.3</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Header Plain - Menu: Hide Border between Items - Affects all header borders<br />
  			[ Theme Options > Menu & Action Bar > Menu > Options: Hide Border between Items ]
			</li>
			<li>Pre-built website: Landing 2, Cryptocurrency</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Portfolio - jQuery filtering + Disable details - Lightbox gallery - Current category</li>
			<li>Muffin Builder - Wrap - Background position: Parallax</li>
			<li>Dark - FAQ item - Border & icon color</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.9.5.2</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Sportsman, Supplier</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Feature List item - HTML special characters in inner shortcode title</li>
			<li>WPML - Attachment attributes</li>
			<li>Chrome - Section - Background position: Parallax & Fixed</li>
			<li>IE 11 - Feature Box item</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.9.5.1</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Kindergarten 2, Barman</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Map Basic item - Blank space below map</li>
			<li>Gallery widget - Image size</li>
			<li>Muffin Builder - Section with multiple Wraps & Dividers - Wrap background image</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.9.5</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Map Basic Item - Iframe Google Map (does not require Google Maps API key),<br />
  			Embed Google Map (show map by address or place name without precise coordinates)
			</li>
			<li>Pre-built website: Gym 2, Coffee 2</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.9.4</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Muffin Builder - Add Section as the first or the last section</li>
			<li>Pre-built website: Garden 3, Eco 2</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Comments Form - Cookies acceptance checkbox - Display inline</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.9.3</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Church 2, Fantasy</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Header Top Bar - Background position</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.9.2.1</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Security 2, Funeral Home</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.9.2</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Header Top Bar & Header Creative - Background image<br />
				[ Theme Options > Header & Subheader > Header > Top Bar background ]
			</li>
			<li>Pre-built website: Repair 2, Event 2</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>
				Custom Fonts - Only one font file is required now (.woff or .ttf)<br />
				[ Theme Options > Fonts > Custom ]
			</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.9.1.1</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>WooCommerce 3.4 Compatibility - Tested with the Beta 2 version</li>
			<li>Pre-built website: Company 2, Thriller</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Blog, Portfolio & Shop - Single - Navigation arrows & Share box: Hide</li>
			<li>Shop - Single Product - Add to cart button - Height</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>Image Item - Title attribute from image meta</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.9.1</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Text selection color<br />
  			[ Theme Options > Colors > Content > Selection | color ]
			</li>
			<li>
				Slider item - Link Target - Lightbox<br />
				[ Slides > Edit > Slide Options > Target ]
			</li>
			<li>Pre-built website: Architect 3, Simple 2</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Gallery item in Content & Widget - Number of columns</li>
			<li>Section Style: Full Width & Slider item - Style: Center Mode & Navigation: Hide arrows</li>
			<li>Side Slide Menu - Action Button covered by first menu item</li>
			<li>RTL - Shop - Single Product - Style: Modern</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.9.0.1</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Accountant 3, Adventure</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Post Classes - Show author class only if filter by author is enabled</li>
			<li>Dark - Icon Bar inside List Item - Icon color</li>
			<li>Header Creative - Transparent - Navigation: Sticky Arrows</li>
			<li>Responsive - Side Slide Menu - Revolution Slider width on menu close</li>
			<li>BeTheme Dashboard - Install Plugins - Bulk Install - Minor PHP Warning</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.9</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Header Creative - Transparent<br />
				[ Theme Options > Global > General > Transparent: Top Bar with Menu ]<br />
			  Please set the page background image if you want to use this option<br />
			  [ Theme Options > Global > General > Background > Image ]
			</li>
			<li>Pre-built website: Tea 2, Universe</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Header Plain - Sticky Header - Action Button - Height</li>
			<li>Responsive - Mobile Header: Transparent - Action Button - Color</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>Theme Options - Significantly reduced memory usage</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.8.9.1</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Mechanic 3, Hairdresser</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Tabs Item - Protection against adding a tab shortcode inside another tab</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.8.9</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Theme Options - Colors - Action Button<br />
  			[ Theme Options > Colors > Header > Action Button ]<br />
  			If you use Action Button please adjust colors after update
			</li>
			<li>Pre-built website: Fitness 2, Actor</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Header Plain + Mobile Minimal Header - Layout: Logo center</li>
			<li>Style: Simple - Blog & Portfolio - Filters - Align</li>
			<li>Share Box - Style: Simple - Twitter share URL</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.8.8.2</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Dietitian 2, Clothing</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>RTL - Mobile - Header: Minimal + Menu Left + Menu: Side Slide</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.8.8.1</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Bar 2, Resort</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Blog & Portfolio - Filters - Content height</li>
			<li>Responsive - Shop - Single Product - Product Thumbnails</li>
			<li>Contact Form 7 - Submit Button - Font size</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.8.8</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Accountant 2, Museum 2</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Header Magazine - Banner - z-index</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>Pre-built websites - WordPress Importer - Updated to version 0.6.4</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.8.7</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Section, Wrap, Column - Background Color - Alpha channel (transparency)</li>
			<li>Pre-built website: Farm, Decor 2</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.8.6</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Theme Options - Colors - Back to Top button - Affects Popup Contact Form button<br />
  			[ Theme Options > Colors > Footer > Back to Top & Popup Contact Form ]
			</li>
			<li>Pre-built website: Webdeveloper, Yoga 2</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Muffin Builder - Import & Templates - If post is a draft, save it, do not publish</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>Translation Files - New translation strings</li>
			<li>WooCommerce 3.3.2 - Outdated copies of some WooCommerce template files</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.8.5</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Section - Style - Checkboxes to select multiple values</li>
			<li>Countdown Item & Shortcode - Option to hide seconds, minutes, hours</li>
			<li>New Google Fonts - 857 fonts available</li>
			<li>Pre-built website: Birthday, Lawyer 3</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Blog & Portfolio - Lightbox: Show image Alt text as caption for lightbox image</li>
			<li>Header: Below Slider & Revolution Slider 5.4.7 - Sticky Header</li>
			<li>Style: Simple - Section Style: Dark - Countdown Item text color</li>
			<li>Safari - Visual Composer - Hover Box - Back face visibility</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>Theme Options - Wider textarea field & some inputs replaced by textareas</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.8.4.1</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Hotel 3, Eco Beef</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>WooCommerce 3.3.1 Compatibility - Pagination template</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.8.4</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Countdown - More timezones and principal cities list</li>
			<li>Pre-built website: Photography, App3</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Blog & Portfolio - Share Box - Style: Classic</li>
			<li>Header: Below Slider - Minimalist without header space</li>
			<li>RTL - The Content direction</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.8.3</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Footer - Option to hide entire footer<br />
  			[ Theme Options > Footer > Style > Hide Footer ]
			</li>
			<li>Hreflang Tag in Header - The same as HTML lang code</li>
			<li>Pre-built website: Car Wash, Robotics</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Under Construction - Contact Form 7</li>
			<li>Share Box shortcode</li>
			<li>Layer Slider + Wrap: Move Up - z-index</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.8.2</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>System Status - Check if Home URL domain is the same as Site URL domain</li>
			<li>Pre-built website: GSM Service, Snowpark</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Admin Panel - Search Pages/Posts - Minor PHP notice</li>
			<li>Header Fixed - Main Menu - 1st level - Description</li>
			<li>Header Fixed + Action Bar - Hash Smooth Scroll (.scroll)</li>
			<li>Plugin - The Events Calendar - Sidebar width</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>IE - Deprecated scripts removed</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.8.1</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>BeTheme Dashboard - Link to Betheme Licenses page</li>
			<li>Pre-built website: Wanderer, Pizza 3</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Section: Decoration Image + Wrap: Move Up - z-index</li>
			<li>Style Simple + Dark - Opening Hours Item - Text color</li>
			<li>Sidebar - Minor PHP notice</li>
			<li>IE - Slider Item - Style: Carousel - Title - Line height</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>System Status - cURL - Check if server supports cURL</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.8</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Social Icons - WhatsApp</li>
			<li>Pre-built website: Winter, CV</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>
				Header Creative - Social icons - Color - The same as in other headers<br />
  			[ Theme Options > Colors > Action Bar > Social Icon ]
			</li>
			<li>
				WooCommerce 3.2.6 - Shop page display - Show categories<br />
				[ WooCommerce > Settings > Products > Display: Shop page display ]
			</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>Brazilian Translation</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.7.9</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Muffin Builder - Wrap - Move Up - Option to disable on tablet<br />
				[ Theme Options > Responsive > General > Wrap | Move Up ]
			</li>
			<li>
				Mobile - Column Item - Text Align select ( left, right, center, justify )<br />
  			[ Item Options > Text Align | Mobile ]
			</li>
			<li>Pre-built website: Company, Stylist</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.7.8</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>WooCommerce 3.3 Compatibility - Tested with the Beta 1 version</li>
			<li>New Google Fonts - 848 fonts available</li>
			<li>Pre-built website: Bistro 2</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.7.7</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Theme button color - Highlighted button text color<br />
			  [ Theme Options > Colors > Content > Button theme | color ]
  		</li>
			<li>Pre-built website: Music 2, Language 2</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Section style: Dark - Forms - Color options</li>
			<li>Google Chrome - Muffin Builder - The ESC button closes any edit window in the builder</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>Translation Files - New translation strings</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.7.6.1</h3>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>
				Shop - Default product sorting<br />
				[ WooCommerce > Settings > Display > Default product sorting ]
			</li>
			<li>IE11 - Image Frame - Style: Zoom - Hover effect</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.7.6</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Muffin Builder - Wrap - Move Up - Option to disable on mobile<br />
  			[ Theme Options > Responsive > General > Wrap | Move Up ]
  		</li>
			<li>Pre-built website: Employment</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Blog - Archives - Order by &amp; Order - The same as on the Blog page</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.7.5</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Forms - Input, Select &amp; Textarea - Placeholder color<br />
  				[ Theme Options > Colors > Forms > Placeholder color ]
  			</li>
			<li>Muffin Builder - The ESC button closes any edit window in the builder</li>
			<li>Pre-built website: Watchmaker, Pay</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>How it Works Item &amp; Shortcode - Without background image</li>
			<li>Section - Style: Equal Height of Wraps - Exclude divider</li>
			<li>Section - Style: Equal Height of Items in wrap - Exclude divider</li>
			<li>Google Chrome - Admin Bar enabled - Blank space below footer</li>
			<li>Gravity Forms - Survey Add-On - Checkbox</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>Shop Slider - Less than 4 items - Show wider slides</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.7.4</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Portfolio - Single - Screen Options: Custom Fields</li>
			<li>Pre-built website: Animals 2, Artist 2</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>RTL - Theme Options</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>Map Item - Contact Box - Misleading arrow removed</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.7.3</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Personal trainer, Developer 3</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Header Creative - Mobile Menu: Sticky - Window resize</li>
			<li>Header Creative - Mobile - Sticky Logo | Remove max-height &amp; padding</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.7.2.1</h3>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>BeTheme Dashboard - Install Plugins - Premium bundled plugins list</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.7.2</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Hover Color Item &amp; Shortcode - Text Align select (left, right, center, justify)<br />
 				[ Item Options > Text Align ]
  			</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Style Simple - Shop - Alert - Duplicated icon</li>
			<li>Responsive - Decrease Fonts - Sidebar: Widget Title</li>
			<li>Visual Composer - Accordion - Sidebar Height</li>
			<li>Visual Composer - Icon Box - Default icon: icon-lamp</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>Magnific Popup - Gallery - Counter - Text: 1 of 2 changed into 1 / 2</li>
			<li>BeTheme Dashboard - Updates check</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.7.1</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>New Google Fonts - 846 fonts available</li>
			<li>Pre-built website: Detailing 3, Carpenter 2, Internet</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Slider Item &amp; Shortcode - Style: Center mode - Slide with link</li>
			<li>Error 404 page - Headings colors from Theme Options</li>
			<li>Blog &amp; Portfolio - Single - Format: Video - Fullscreen - Vertical alignment</li>
			<li>PHP 7.2 Compatibility - Code using create_function() has been removed</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>Blog &amp; Portfolio - Format: Video - Player - More native, less distracting look</li>
			<li>Translation Files - New translation strings</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.7</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>WordPress 4.9 Compatibility - Tested with the Beta 3 version</li>
			<li>
				Forms - Input, Select &amp; Textarea - Border width<br />
  				[ Theme Options > Colors > Forms > Border width ]
			</li>
			<li>
				Facebook Pixel code - Theme Options field<br />
				[ Theme Options > SEO > Facebook | Pixel ]
			</li>
			<li>Layouts - Show Layout ID on layouts list</li>
			<li>Under Construction - Admin Bar notice</li>
			<li>Pre-built website: Airport, Salmon</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Blog &amp; Portfolio - Single - Minor HTML code cleanup</li>
			<li>WPML - Attachment attributes per language</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.6.4</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Trailer Box - Item &amp; Shortcode - Style: Plain ( style="plain" )<br />
				[ Item Options > Advanced > Style ]
			</li>
			<li>Pre-built website: Detailing 2, Drawing</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Share Shortcode - Style: Simple</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.6.3</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Portfolio - Post Meta - Option to hide each separately: Author, Date, Categories<br />
				[ Theme Options > Blog, Portfolio &amp; Shop > Portfolio > Options > Post Meta ]
			</li>
			<li>Pre-built website: Mockup, Denim</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Header Creative: Always Open - Social Icons</li>
			<li>White Label &amp; Third party plugins - Minor compatibility fix</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>Theme Options - Deprecated options page link removed</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.6.2</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Single Post - Subheader Background Image<br />
  				[ Post Options > Media > Subheader | Image ]
  			</li>
			<li>Pre-built website: Meeting, Manicure</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Gallery Item - Images re-selecting</li>
			<li>Section - Decoration Image Top &amp; Bottom - z-index</li>
			<li>Install Plugins - Show link even if all plugins are activated und up-to-date</li>
			<li>Google Chrome - Shop - Single product - jQuery UI Tabs</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>JS - Enqueue scripts - Minor code cleanup</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.6.1</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Added: Mobile - Custom Main Menu<br />
  				[ Theme Options > Responsive > Header > Menu ]
  			</li>
			<li>WooCommerce 3.2 Compatibility - Tested with the RC version</li>
			<li>Pre-built website: Meat, Vegetables</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Blog - Category, Tag &amp; Author Page - Filters</li>
			<li>Lightbox - YouTube video - Last related screen removed</li>
			<li>Header Creative - Social Icons - Click on the last icon</li>
			<li>Widgets - Muffin Recent Posts - Minor PHP notice</li>
			<li>Custom Post Types - Single - Unnecessary permalinks removed</li>
			<li>WPML - Theme Options - Custom Menu - Show menus in current language only</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>Translation Files - New translation strings</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.6</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Responsive - Side Slide Menu - Width select<br />
				[ Theme Options > Responsive > Header > Side Slide | Width ]
			</li>
			<li>Pre-built website: Cafe 2</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Fixed: Share Box - Style: Simple &amp; Shop - Single Product - Style: Modern</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>
				Shop - Single Product - Product Image - Deprecated option removed<br />
				( Since WooCommerce 3.0 new product gallery has been merged in to core )
			</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.5.3</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>WooCommerce 3.2 Compatibility - Tested with the Beta 2 version</li>
			<li>Pre-built website: Tiles 2</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Section - Style: Equal Height of Items in wrap - Pricing Item</li>
			<li>
				WPML - Custom Language Switcher in Main Menu - Dropdown with Flags - Menu width<br />
				[ WPML > Languages > Menu language switcher ]
			</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>Brazilian Translation</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.5.2</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Slider Item &amp; Shortcode - Option to hide navigation ( navigation="hide" )<br />
  				[ Item Options > Navigation > Hide ]
  			</li>
			<li>RTL - BeTheme Dashboard</li>
			<li>RTL - Pre-built websites</li>
			<li>Pre-built website: Hip-Hop</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>RTL - WooCommerce - Cart &amp; Checkout pages</li>
			<li>WPML - Blog &amp; Portfolio - Single - Missing Translation Tag</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.5.1</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Blog - Filters - jQuery filtering<br />
				[ Theme Options > Blog, Portfolio &amp; Shop > Blog > Filters | jQuery filtering ]
			</li>
			<li>Pre-built website: Game</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Front page displays latest posts - Breadcrumbs - Duplicated blog link removed</li>
			<li>Front page displays latest posts - Filters</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.5</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Image Item &amp; Shortcode - Select image size from Settings > Media > Image sizes<br />
				[ Item Options > Image | Size ]
			</li>
			<li>
				Share Box - Style: Simple (without external scripts)<br />
				[ Theme Options > Blog, Portfolio &amp; Shop > General > Share Box | Style ]
			</li>
			<li>Pre-built website: Marina</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>White Label - Old Theme Options link removed</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>Deutsch Translation - Feature List Item title</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.4.4</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Clinic 2</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Blog Item - Load More button - Post format: Video - Show videos</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>Blog Item - Load More button - Works even with pagination off</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.4.3.1</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Assistance</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.4.3</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>New Google Fonts - 832 fonts available</li>
			<li>Pre-built website: Sushi 2</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Section: Full Screen &amp; Full Width - Padding</li>
			<li>Blog &amp; Portfolio - Filters - Close button width</li>
			<li>Timeline Item - HTML lists - Default style</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>System Status - PHP Time Limit - Do not show error if set to 0</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.4.2</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Repair</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Muffin Builder - Blog &amp; Portfolio items - Theme Options link</li>
			<li>Pre-built websites - All Done screen - Theme Options link</li>
			<li>Pre-built website: Space - Missing slider demo</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.4.1</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Google Font shortcode - Inline attribute (inline="1")</li>
			<li>Pre-built website: 3D</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>
				Gallery - Link to: Media file - Show image alt text as caption for lightbox image<br/>
				[ Theme Options > Addons &amp; plugins > Addons > Lightbox > Options ]
			</li>
			<li>Gallery - Item with Caption - Margin below image</li>
			<li>Section style: Dark - Blockquote item &amp; shortcode - Quote image &amp; line</li>
			<li>Dashboard - Useful links section - Theme Options link</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.4</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Builder Item - Visual Editor - Add Media button</li>
			<li>Pre-built website: Code</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>RTL - Header Split - Search Icon - Position</li>
			<li>Dashboard - System Status - Uploads folder writable - Invalid name</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>Builder Item - Visual Editor - Visual/Text switch - Native WordPress look</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.3</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Blog Page - Order by (date, title, rand) &amp; Order (DESC, ASC)<br />
  				[ Theme Options > Blog, Portfolio &amp; Shop > Blog > Order by / Order ]
  			</li>
			<li>
				Muffin Builder Items - Blog, Blog News, Blog Slider, Blog Teaser - Order by &amp; Order<br />
  				[ Item Options > Order by / Order ]
  			</li>
			<li>Pre-built website: Spa 2</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>RTL - Visual Composer - Section: Stretch section</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.2</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Open Graph Image Field (Facebook share image)<br />
				Set globally for the whole site: [ Theme Options > SEO > Open Graph | Image ]<br />
				or separately for each Single Post, Page, Portfolio: [ Post/Page Options (below Muffin Builder) > SEO > Open Graph | Image ]
			</li>
			<li>Pre-built website: IT</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Widgets - Muffin Recent Posts - Style: Blog News - Description padding</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>WooCommerce 3.1 - Outdated copies of some WooCommerce template files</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.1</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Muffin Builder Item - Image Gallery</li>
			<li>
				Widgets - Muffin Recent Posts - Style: Blog News<br />
  				[ Widgets > Muffin Recent Posts > Style ]
			</li>
			<li>Pre-built website: Upholsterer</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>
				Mobile - Header Creative + Mobile Header: Minimal<br/>
				[ Theme Options > Responsive > Header > Mobile options > Minimal ]
			</li>
			<li>
				WooCommerce - Show Secondary product image on Hover - PHP Notice<br/>
				[ Theme Options > Blog, Portfolio &amp; Shop > Shop > Images ]
			</li>
			<li>
				WooCommerce - Show Secondary product image on Hover - Sold Out label<br />
				[ Theme Options > Blog, Portfolio &amp; Shop > Shop > Images ]
			</li>
			<li>Pre-built websites - Website without Revolution Slider - PHP Notice</li>
			<li>RTL - Muffin Builder Item - Helper</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.0</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Smaller theme package - only 6 MB instead of 31 MB</li>
			<li>1-click theme updates - without additional plugins &amp; earlier than on ThemeForest</li>
			<li>Premium plugins updates - available as soon as new version is available on Codecanyon (plus time needed for compatibility tests)</li>
			<li>Automatic Revolution Slider demo installation with pre-built websites</li>
			<li>New pre-built websites - earlier than on ThemeForest</li>
		</ul>
	</div>

</div>

<!-- New features - new - plus, Bugfixes - fix - hammer, Updates - update - update -->
