/*
Theme Name: Betheme Child
Theme URI: https://themes.muffingroup.com/betheme
Author: Muffin group
Author URI: https://muffingroup.com
Description: Child Theme for Betheme
Template: betheme
Version: 1.6.2
*/


@font-face {
font-family: "Circular-std-book";
src: url("http://variniavilchis.com/wp-content/themes/betheme/fonts/CircularStd-Book.otf") format("opentype");
font-weight: normal;
font-style: normal;
}

